{extend name="public/pure"}

{block name="style"}
<title>{$title}</title>
<link rel="stylesheet" href="/home/css/common/rem.css">
<link rel="stylesheet" href="/home/css/index/index.css">
<link rel="stylesheet" href="/static/swiper/swiper-3.3.1.min.css">
<link rel="stylesheet" href="/home/css/common/tip.css">
{/block}

{block name="body"}
<!--banner-->
<div class="banner">
    <img src="/home/images/banner/7.png" alt="首页banner图">
    <a  class="exit">
        <img src="/home/images/index/exit.png" alt="">
    </a>
    {eq name="visit" value="0"}
    <a href="{:Url('User/usercenter')}" class="rank">
        <img src="/home/images/index/usercenter.png" alt="">

        <img src="{$user|get_header}" alt="">
    </a>
    {/eq}
</div>
<!--图标轮播-->
<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <ul class="model clearfix">
                <li>
                    <a href="{:Url('structure/index')}">
                        <img src="/home/images/index/structure_1.png" alt="云上组织">
                        <span>云上组织</span>
                    </a>
                </li>
                <li>
                    <a href="{:Url('Notice/index')}">
                        <img src="/home/images/index/star_1.png" alt="先锋引领">
                        <span>三会一课</span>
                    </a>
                </li>
                <li>
                    <a href="{:Url('Learn/index?c=1')}">
                        <img src="/home/images/index/learn_1.png" alt="每日一课">
                        <span>两学一做</span>
                    </a>
                </li>
                <li>
                    <a href="{:Url('Centraltask/index')}">
                        <img src="/home/images/index/announcement_1.png" alt="美丽乡村">
                        <span>美丽乡村</span>
                    </a>
                </li>
                <li>
                <a href="{:Url('news/index')}">
                    <img src="/home/images/index/news_1.png" alt="最新动态">
                    <span>最新动态</span>
                </a>
                </li>
                <!--<li>-->
                    <!--<a href="{:Url('Activity/index?c=1')}">-->
                        <!--<img src="/home/images/index/active.png" alt="活动发起">-->
                        <!--<span>活动发起</span>-->
                    <!--</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="{:Url('Feedback/index')}">-->
                        <!--<img src="/home/images/index/news.png" alt="红色足迹">-->
                        <!--<span>红色足迹</span>-->
                    <!--</a>-->
                <!--</li>-->
            </ul>
        </div>
</div>

<!--分割线-->
<div class="level"></div>
<!--新闻通知-->
<div class="content">
    <div class="notices">
        <div class="notice party">

        </div>
    </div>
</div>
<!--加载更多-->
<div class="tip"></div>
<div class="loading hidden">
    <div class="typing_loader"></div>
</div>
{/block}

{block name="script"}
<script src="/static/swiper/swiper-3.3.1.jquery.min.js"></script>
<script>
    var scrollNow = true;//判断下拉请求是否执行中.false为正在请求
    var mySwiper = new Swiper('.swiper-container', {
//        loop: true,
        autoplayDisableOnInteraction: false,
        pagination : '.swiper-pagination',
        paginationClickable :true
    });
    $(function(){
        var len = $('.notice .list').length;
        if(len >= 6){
            $('.tip' ).text('上拉加载更多');
        }
        $(".banner>.exit").on("click",function(){
            swal({
                        title:"",
                        text: "是否确认退出",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonText: "确认",
                        closeOnConfirm: false,
                        cancelButtonText:"取消"
                    },
                    function(){
                        swal({
                            title: ' ',
                            text: '退出成功！',
                            type: 'success',
                            confirmButtonText:'确定'
                        });
                        setTimeout(function(){
                            window.location.replace("{:Url('Verify/logout')}");
                        },1000)
                    });
        })
    });
    //上拉加载更多
    function loadScroll(){
        $(window).off("scroll" ).on("scroll",function(){
            var ntc = $('.notices');
            var dh = $(document).height();
            var end = $(window).height() + $(window).scrollTop();
            var len = $('.notice .list').length;
            var tip = $(".tip");
            var loading = $('.loading');
            if(dh == end && scrollNow){
                scrollNow = false;//请求执行中
                $.ajax({
                    type:"get",
                    url: "{:Url('Index/moreDataList')}",
                    data:{
                       length:len
                    },
                    beforeSend: function(XMLHttpRequest){
                        tip.hide();
                        loading.toggleClass('hidden');
                    },
                    success:function(data){
                        loading.toggleClass('hidden');
                        tip.show();
                        if(data.code == 1){
                            addLists(data);
                            var dataLen =data.data.length;
                            if(data.data.length == 7){
                                tip.text('上拉加载更多');
                            }
                        }else{
                            tip.text('没有更多了');
                            $(window ).off("scroll");
                        }
                        scrollNow = true;//请求结束
                    }
                })
            }
        })
    }
    //数据循环
    function addLists(data){
        var type;
        var html = '';
        var lists = data.data;
        var len = lists.length;
        for(var i = 0; i< len;i++){
            var list = lists[i];
            var link = '';
            var type_name ='';
            if (list.class_type == 1) {

                class_name = '三会一课';
                if(list.type == 2){
                    link = '/home/notice/meet/id/'+list.id;
                }else{
                    link = '/home/notice/party/id/'+list.id;
                }
            } else if (list.class_type == 2){

                class_name = '两学一做';
                //1视频 2文字
                if(list.type == 2){
                    link = '/home/learn/article/id/'+list.id;
                }else{
                    link = '/home/learn/video/id/'+list.id;
                }
            } else if (list.class_type == 3){

                class_name = '美丽乡村';
                if(list.type == 1){
                    link = '/home/centraltask/note/id/'+list.id;
                }else{
                    link = '/home/centraltask/work/id/'+list.id;
                }
            } else if (list.class_type == 4){

                class_name = '最新动态';
                link = '/home/news/detail/id/'+list.id;
            }

            if(list.publisher.length >9){
                list.publisher = list.publisher.substring(0,9)+'...';
            }

            html +=
                    '<a href="'+link+'" class="list clear" >'+
                    '<div class="fl">'+
                    '<img src="'+list.path+'" alt="图片">'+
                    '<span class="type">'+class_name+'</span>'+
                    '</div>'+
                    '<div class="fr right">'+
                    '<div class="title limit_">'+list.title+'</div>'+
                    '<div class="clear time">'+
                    '<span class="fl">'+list.publisher+'</span>'+
                    '<span class="fr">'+list.time+'</span>'+
                    '</div>'+
                    '</div>'+
                    '</a>'
        }

        $('.notice').append(html);
    }


    var tip = $(".tip");
    $.ajax({
        type:"get",
        url: "{:Url('Index/moreDataList')}",
        data:{
            length:0
        },
        beforeSend: function(XMLHttpRequest){

        },
        success:function(data){
            if(data.code == 1){
                addLists(data);
                var dataLen =data.data.length;
                if(data.data.length == 7){
                    loadScroll();
                    tip.text('上拉加载更多');
                }
            }
        }
    })

</script>
{/block}}