{extend name="public/common"}

{block name="style"}
<title>组织架构</title>
<link rel="stylesheet" href="/home/css/structure/structure.css">
<link rel="stylesheet" href="/home/css/common/rem.css">
{/block}

{block name="body"}
<ul class="d_lists">

</ul>
{/block}

{block name="script"}
<script>
$('title' ).text('组织架构');
var party3 = '{$party}';
console.log(party3);
	var data2 =[
	{
		"party3":"镇西村党总支部",
		"detail3":[
			{
				"detail4":[
					{
						"position":"总支部书记",
						"name":"沈利新",
						"phone":"18305725066"
					},
					{
						"position":"总支副书记",
						"name":"沈菊琴",
						"phone":"13567252722"
					},
					{
						"position":"总支副书记",
						"name":"包根清",
						"phone":"13567982065"
					},
					{
						"position":"总支委员",
						"name":"吴海强",
						"phone":"13857271378"
					},
					{
						"position":"&nbsp;",
						"name":"杨国强",
						"phone":"13567973204"
					},
					{
						"position":"&nbsp;",
						"name":"杨海斌",
						"phone":"15157227653"
					},
					{
						"position":"&nbsp;",
						"name":"陈金发",
						"phone":"13757293768"
					},
					{
						"position":"&nbsp;",
						"name":"陈加定",
						"phone":"0572-3688958"
					},
					{
						"position":"&nbsp;",
						"name":"陈海江",
						"phone":"15868263819"
					},
					{
						"position":"&nbsp;",
						"name":"方金根",
						"phone":"13336837985"
					},
					{
						"position":"&nbsp;",
						"name":"陈建华",
						"phone":"13002613637"
					},
					{
						"position":"&nbsp;",
						"name":"陈云斌",
						"phone":"15757288533"
					},
					{
						"position":"&nbsp;",
						"name":"李月萍",
						"phone":"13175204180"
					},
					{
						"position":"&nbsp;",
						"name":"沈利建",
						"phone":"13221209888"
					},
					{
						"position":"&nbsp;",
						"name":"沈吉灵",
						"phone":"13706728848"
					},
					{
						"position":"&nbsp;",
						"name":"沈振华",
						"phone":"13306821758"
					},
					{
						"position":"&nbsp;",
						"name":"沈建华",
						"phone":"0572-3680615"
					},
					{
						"position":"&nbsp;",
						"name":"沈新华",
						"phone":"18291916865"
					},
					{
						"position":"&nbsp;",
						"name":"沈宝财",
						"phone":"13185206108"
					},
					{
						"position":"&nbsp;",
						"name":"杨菊生",
						"phone":"13757262350"
					},
					{
						"position":"&nbsp;",
						"name":"杨根土",
						"phone":"0572-3688698"
					},
					{
						"position":"&nbsp;",
						"name":"杨丽娟",
						"phone":"18167271527"
					},
					{
						"position":"&nbsp;",
						"name":"陈建芳",
						"phone":"13136517270"
					},
					{
						"position":"&nbsp;",
						"name":"严新章",
						"phone":"18267201386"
					},
					{
						"position":"&nbsp;",
						"name":"严歧国",
						"phone":"0572-3689666"
					},
					{
						"position":"&nbsp;",
						"name":"严永生",
						"phone":"13705723921"
					},
					{
						"position":"&nbsp;",
						"name":"严荣林",
						"phone":"13967298955"
					},
					{
						"position":"&nbsp;",
						"name":"严荣生",
						"phone":"0572-3680266"
					},
					{
						"position":"&nbsp;",
						"name":"严伟杰",
						"phone":"13615728213"
					},
					{
						"position":"&nbsp;",
						"name":"严友群",
						"phone":"13967296243"
					},
					{
						"position":"&nbsp;",
						"name":"李汉明",
						"phone":"13059903456"
					},
					{
						"position":"&nbsp;",
						"name":"严火林",
						"phone":"13335825783"
					},
					{
						"position":"&nbsp;",
						"name":"严荣泉",
						"phone":"13505722002"
					},
					{
						"position":"&nbsp;",
						"name":"丁杏花",
						"phone":"18767235607"
					},
					{
						"position":"&nbsp;",
						"name":"陈央毛",
						"phone":"13867250719"
					},
					{
						"position":"&nbsp;",
						"name":"陈玉琴",
						"phone":"15905720129"
					},
					{
						"position":"&nbsp;",
						"name":"李阿堂",
						"phone":"13175239858"
					},
					{
						"position":"&nbsp;",
						"name":"李梅新",
						"phone":"13905723626"
					},
					{
						"position":"&nbsp;",
						"name":"丁水富",
						"phone":"13251927526"
					},
					{
						"position":"&nbsp;",
						"name":"严锦锋",
						"phone":"15088339832"
					},
					{
						"position":"&nbsp;",
						"name":"王国强",
						"phone":"13665729940"
					},
					{
						"position":"&nbsp;",
						"name":"朱永江",
						"phone":"13857278079"
					},
					{
						"position":"&nbsp;",
						"name":"朱小强",
						"phone":"13732362393"
					},
					{
						"position":"&nbsp;",
						"name":"汤友富",
						"phone":"13083925666"
					},
					{
						"position":"&nbsp;",
						"name":"汤德华",
						"phone":"13567225717"
					},
					{
						"position":"&nbsp;",
						"name":"何永健",
						"phone":"13004261072"
					},
					{
						"position":"&nbsp;",
						"name":"沈宝财",
						"phone":"13625726356"
					},
					{
						"position":"&nbsp;",
						"name":"沈荣生",
						"phone":"13306722563"
					},
					{
						"position":"&nbsp;",
						"name":"潘炎冰",
						"phone":"13732397257"
					},
					{
						"position":"&nbsp;",
						"name":"严顺发",
						"phone":"15372463884"
					},
					{
						"position":"&nbsp;",
						"name":"朱惠琴",
						"phone":"15355829503"
					},
					{
						"position":"&nbsp;",
						"name":"严阿江",
						"phone":"13505725817"
					},
					{
						"position":"&nbsp;",
						"name":"严金土",
						"phone":"13905727102"
					},
					{
						"position":"&nbsp;",
						"name":"杨荣华",
						"phone":"18967271608"
					},
					{
						"position":"&nbsp;",
						"name":"杨银发",
						"phone":"13666515136"
					},
					{
						"position":"&nbsp;",
						"name":"杨松元",
						"phone":"0572-3688978"
					},
					{
						"position":"&nbsp;",
						"name":"杨金明",
						"phone":"13567287636"
					},
					{
						"position":"&nbsp;",
						"name":"严沪翔",
						"phone":"13906720179"
					},
					{
						"position":"&nbsp;",
						"name":"沈宝发",
						"phone":"15268719910"
					},
					{
						"position":"&nbsp;",
						"name":"陈火根",
						"phone":"13868298956"
					},
					{
						"position":"&nbsp;",
						"name":"杨新生",
						"phone":"13024261276"
					},
					{
						"position":"&nbsp;",
						"name":"方信荣",
						"phone":"13666516330"
					},
					{
						"position":"&nbsp;",
						"name":"朱根荣",
						"phone":"13957295885"
					},
					{
						"position":"&nbsp;",
						"name":"方云生",
						"phone":"13615823573"
					},
					{
						"position":"&nbsp;",
						"name":"费新芳",
						"phone":"15088354498"
					},
					{
						"position":"&nbsp;",
						"name":"季素琴",
						"phone":"13615827225"
					},
					{
						"position":"&nbsp;",
						"name":"方善明",
						"phone":"0572-3688122"
					},
					{
						"position":"&nbsp;",
						"name":"方善宝",
						"phone":"0572-3688140"
					},
					{
						"position":"&nbsp;",
						"name":"沈利强",
						"phone":"13567982068"
					},
					{
						"position":"&nbsp;",
						"name":"沈跃清",
						"phone":"18857205716"
					},
					{
						"position":"&nbsp;",
						"name":"陈根枚",
						"phone":"15067270976"
					},
					{
						"position":"&nbsp;",
						"name":"陈会民",
						"phone":"13185278893"
					},
					{
						"position":"&nbsp;",
						"name":"陈连法",
						"phone":"13185256203"
					},
					{
						"position":"&nbsp;",
						"name":"陈金土",
						"phone":"13957281815"
					},
					{
						"position":"&nbsp;",
						"name":"沈信清",
						"phone":"13757067880"
					},
					{
						"position":"&nbsp;",
						"name":"严金水",
						"phone":"0572-3689667"
					},
					{
						"position":"&nbsp;",
						"name":"沈新桥",
						"phone":"13505726539"
					},
					{
						"position":"&nbsp;",
						"name":"凌兰法",
						"phone":"13335723078"
					},
					{
						"position":"&nbsp;",
						"name":"沈雄新",
						"phone":"15905720111"
					},
					{
						"position":"&nbsp;",
						"name":"严水珠",
						"phone":"0572-3688249"
					},
					{
						"position":"&nbsp;",
						"name":"姚菊林",
						"phone":"0572-3688249"
					},
					{
						"position":"&nbsp;",
						"name":"姚明翔",
						"phone":"13185200319"
					},
					{
						"position":"&nbsp;",
						"name":"方荣林",
						"phone":"13252052260"
					},
					{
						"position":"&nbsp;",
						"name":"郭瑞姝",
						"phone":"18767212062"
					},
					{
						"position":"&nbsp;",
						"name":"王应贵",
						"phone":"15167251301"
					},
					{
						"position":"&nbsp;",
						"name":"费新根",
						"phone":"13868292766"
					},
					{
						"position":"&nbsp;",
						"name":"姚连夫",
						"phone":"13022619516"
					},
					{
						"position":"&nbsp;",
						"name":"严三发",
						"phone":"13757265597"
					},
					{
						"position":"&nbsp;",
						"name":"陈宪章",
						"phone":"15067277266"
					},
					{
						"position":"&nbsp;",
						"name":"严德法",
						"phone":"13157273575"
					},
					{
						"position":"&nbsp;",
						"name":"严生法",
						"phone":"18858205860"
					},
					{
						"position":"&nbsp;",
						"name":"庄水法",
						"phone":"15157258560"
					},
					{
						"position":"&nbsp;",
						"name":"薛新桥",
						"phone":"13185250073"
					},
					{
						"position":"&nbsp;",
						"name":"薛元桥",
						"phone":"13511231607"
					},
					{
						"position":"&nbsp;",
						"name":"冯敏",
						"phone":"15067201102"
					}
				]
			}]
	}
];
var bg_color=["#b1e3fc", "#aeefef", "#ffa351", "#9393f5", "#cf88f7", "#65abfa", "#ebcffb", "#76f4f0", "#ffcf6e", "#ff8ff4"];
var len = data2.length;
console.log(data2);
for(var i = 0 ; i < len ;i++){
	var party = data2[i];
	if( party.party3 == party3){
		var detail3 = party.detail3;
		var len3 = detail3.length;
		var html = '';
		for(var j = 0; j < len3 ; j++){
			console.log(len3)
			var party4 = detail3[j];
			var detail4 = party4.detail4;
			var len4 = detail4.length;
			for(var m = 0 ;m < len4 ;m++){
				html+='<li class="d_list">'+
						'<div class="d_img_box">'+
						'<div class="d_img" style="background-color:'+bg_color[Math.floor(Math.random()*10)]+'">'+
						detail4[m].name[0]+'</div>'+
						'</div>'+
						'<div class="d_name">'+detail4[m].name +' '+detail4[m].position+'</div>'+
						'<a class="d_tel" href="tel:'+detail4[m].phone+'" >'+
							'<span class="d_tel_icon"></span>'+
								detail4[m].phone+
						'</a>'+
						'</li>';
			}
		}
		$('.d_lists' ).append(html);
		break;
	}else{
		console.log('百分百名字错了'+ party3 + '后：'+ party.party3)
	}
}

//$(function(){
//	getHistory();
//	var flag=false;
//	setTimeout(function(){
//		flag=true
//	},1000);
//	window.addEventListener('popstate',function(e){
//		//监听到返回事件
//		if(flag){
//			window.location.href = "/home/structure/index.html";
//		}
//		getHistory();
//	},false);
//	function getHistory(){
//		var state={
//			title:'',
//			url:window.location.href
//		} ;
//		window.history.pushState(state,'title',state.url);
//	}
//})
</script>
{/block}